body {
  background-color: black;
  color: white;
  font-family: "Public Sans", sans-serif;
}

.email-link {
  color: white;
  display: block;
}
.insta-link {
  display: block;
}
.about-links {
  color: white;
}
:hover .email-link {
  color: yellow;
}
:hover .about-links {
  color: yellow;
  transition: ease-in-out 100ms;
}
.insta-link {
  color: white;
}
:hover .insta-link {
  color: yellow;
  transition: ease-in-out 100ms;
}
footer {
  font-size: 12px;
}

@media (max-width: 573px) {
  .contact {
    display: inline-block !important;
    margin-top: 40px;
  }
}
