body {
  background-color: black;
  color: white;
  font-family: "Public Sans", sans-serif;
}

.email-link {
  color: white;
  display: block;
}

.about-links {
  color: white;
}

.insta-link {
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  color: yellow;
}

footer {
  font-size: 12px;
}

@media (min-width: 500px) {
  p {
    max-width: 100% !important;
  }
}
